<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

    <form method="post">
        <label>
            Username
            <input type="text" name="username" th:value="${username}">
        </label>
        <label>
            Email
            <input type="email" name="email" th:value="${email}">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <label>
            Verify Password
            <input type="password" name="verify">
        </label>
        <p th:if="${error}" th:text="${error}"></p>
        <div>
            <input type="submit" value="Add User" class="btn btn-success">
        </div>

    </form>


</body>
</html>